[v-cloak]{visibility:hidden}
:root{--headings-font:'Poppins',sans-serif;--primary-font:'Titillium Web';--x:7.5rem;--y:7.5rem;--cSize:0.4375rem;--cSizeSmall:0.4375rem}
#root{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#2c3e50}
ul{padding:0;margin:0;list-style:none}
html{scroll-behavior:smooth!important}
a:-webkit-any-link{cursor:text}
body{background-color:#f5f5f5;line-height:1.5em}
body.noscroll{overflow:hidden}
p{margin:0}
h1{font-size:2em;font-weight:800;text-align:right}
h1,h2,h3,h4,h5,h6{text-transform:uppercase;font-family:var(--headings-font);padding:0;margin:0;float:left}
a.no-decorate{text-decoration:none;color:#000}
a.no-decorate:hover{cursor:pointer;backface-visibility:hidden;position:relative;transition:.2s color ease;text-decoration:none;color:var(--main-color);-ms-transition:.2s color ease;-o-transition:.2s color ease}
hr{border-width:.03rem;margin-top:.6rem;border-bottom:.2rem solid var(--main-color-lighter);border-top:0;border-left:0;border-right:0}
.grid{display:flex;gap:.5em; padding: 1em;}
h1{padding-bottom:.5em}
.gray.glyphicon{color:gray}
th.sortable{color:#000}
th.sortable:hover{cursor:pointer;color:#fff;background:#000}
.orange.glyphicon{color:orange}
/* .sidebar-nav{position:fixed} */
@media (min-width:768px){
.sidebar-nav .navbar .navbar-collapse{padding:0;max-height:none}
.sidebar-nav .navbar ul{float:none;display:block}
.sidebar-nav .navbar li{float:none;display:block}
.sidebar-nav .navbar li a{padding-top:1em;padding-bottom:1em}
}
/* .column{padding:1em} */
.navbar{place-content:center;padding:1em; margin: 0}
.nav{cursor:pointer}
.navbar-default .navbar-toggle{margin:0}
.navbar-default .navbar-collapse,.navbar-default .navbar-form{border:0}
.list-item{display:flex}
.list-item:hover{background-color:#e7e7e7}
.table-button-container{
border: .2em  solid gray;
border-radius: .2em;
width: fit-content;
}
.table-button-container:hover{
	color: white;
background-color: #e7e7e7;
}